mixin Modals

    .modal#login-form
        .modal__head
            h2 Личный кабинет

            div#tabs
                ul
                    li
                        a(href="#signin") Вход
                    li
                        a(href="#signup") Регистрация

                div#signin
                    .modal__content
                        .modal__form
                            +Input("text", "user_signin_login", "Логин")
                            +Input("password", "user_signin_password", "Пароль")
                            .modal__btn-group
                                +Button("Войти", "link", "user-data.html")
                                a(href="#signup").btn.btn--white.js-set-tab-signup Создать аккаунт

                            .separator
                            a(href="#remind", rel="modal:open").link__normal Забыли пароль?


                div#signup
                    .modal__content
                        .modal__form
                            .search__section-head
                                span Данные пользователя
                            .inputs
                                +Input("text", "lastname_modal_signup", "Фамилия", "Смирнов")(important=true)
                                +Input("text", "firstname_modal_signup", "Имя", "Андрей")(important=true)
                                +Input("text", "middlename_modal_signup", "Отчество")(important=true)
                                +Input("text", "phone_modal_signup", "Телефон", "+7 902 616-42-64")
                            .search__section-head
                                span Учетная запись
                            +Input("text", "login_modal_signup", "Логин")(important=true)
                            +Input("text", "email_modal_signup", "E-mail", "smirnovandreyshow@gmail.com")(important=true)
                            .inputs
                                +Input("password", "password_modal_signup", "Пароль")(important=true)
                                +Input("password", "re-password_modal_signup", "Пароль еще раз" )(important=true)
                            +Input("captcha", "captcha_modal_signup", "Символы с картинки")(important=true)
                            +Input('checkbox', 'agreement_data', 'Даю своё согласие на обработку <a href="#">персональных данных</a>' )
                            a(href="#account-created" rel="modal:open").btn.btn--full Зарегистрироваться

    .modal#remind
        .modal__head
            h2 Восстановление доступа
            p.descriptor Введите почту, которую вы указывали при регистрации. Мы вышлем на не данные для восстановления доступа.
        .modal__content
            .modal__form
                +Input("text", "remind_email", "E-mail")
            .modal__btn-group
                a(href="#mail-sended", rel="modal:open").btn Восстановить
                a(href="#login-form", rel="modal:open").btn.btn--white Отмена
    .modal.alert#delete-ticket
        .modal__head
            h2 Удалить билет
            p.descriptor Запись о покупке будет удалена из вашего списка, восстановить ее будет нельзя.
        .modal__content
            .modal__btn-group
                a(href="#", rel="modal:close").btn Удалить
                a(href="#", rel="modal:close").btn.btn--white Отмена
    .modal.alert#mail-sended
        .modal__head
            h2 Письмо отправлено
            p.descriptor Проверьте пожалуйста свою почту.
        .modal__content
            a(href="#" rel="modal:close").btn.btn--full OK

    .modal#news-item
        .modal__head
            .head__label 16 апреля 2019
            h2 Возобновление перевозок пассажиров на маршруте Пермь (АС Южная) – Машиностроитель
        .modal__content
            p С 16 апреля открыта предварительная продажа билетов на рейсы по маршруту АС Южная – Машиностроитель.
            p Открытие остановочного комплекса было завершено в срок к 15 апреля, а теперь возобновляется автобусное сообщение.
            p Время отправления с 05.05.19
            p пн, вт, ср, чт, пт: <br/>
                b 07:05; 11:05; 17:50;
            p сб, вс: <br/>
                b 08:05; 12:45; 16:15;
    .modal.alert#message-sended
        .modal__head
            h2 Сообщение отправлено
            p.descriptor Спасибо за ваше сообщение, мы обработаем вашу заявку и обязательно с вами свяжемся.
        .modal__content
            a(href="#" rel="modal:close").btn.btn--full OK
    .modal.alert#saved-changes
        .modal__head
            h2 Изменения сохранены
            p.descriptor Данные ваша учетной запись обновлены, теперь вы можете продолжить работу с системой.
        .modal__content
            a(href="#" rel="modal:close").btn.btn--full OK
    .modal.alert#account-created
        .modal__head
            h2 Аккаунт создан
            p.descriptor Спасибо за регистрацию! Теперь вы можете продолжить работу с приложением.
        .modal__content
            a(href="#" rel="modal:close").btn.btn--full OK